.ui.segment.flat-login{
    border: black solid 1px;
    border-radius: 10px;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    /*#ccff90*/
}

.ui.one.column.grid{
    width: 100%;
    height: 100%;
    margin: inherit;
    vertical-align: center;

}

.ui.segment.flat-form{
    background-color: #ccff90;
}